@font-face {
  font-family: BebasNeue;
  src: url('fonts/bebas-neue/BebasNeue.otf');
}

body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  width: 200px;
}

.movie-list {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 48px 30px;
  text-align: center;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.movie-card-details {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  max-height: 40%;
  overflow: hidden;
  width: 40%;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.buttons-section {
  display: flex;
  justify-content: space-between;
}

.button {
  border-radius: 25px;
  color: #f5f5f1;
  font-family: BebasNeue , sans-serif;
  font-size: large;
  font-weight: 500;
  padding: 12px 20px;
  text-decoration: none;
}

.back-button {
  background-color: #292f33;
}

.edit-button {
  background-color: #b81d24;
}

.view-details {
  background-color: #221f1f;
  margin: 5px 50px;
}
